body {
   background: #FFFFFF top center fixed;
   background: linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat,  linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
   background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, -webkit-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
   background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat,-moz-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
   background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat,-o-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
   background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat,-ms-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
   background: linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat,linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
   -svg-background: linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat,linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333EFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF333F;
}
