.d-flex {
    display: flex
}

.has-border {
    border: 2px solid #333;
}
.has-border2 {
    border: 2px solid #333;
}

.margin-sm {
    margin: 1rem;
}

.padding-sm {
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;

}
.sidebar-holder > a {
  background-color: #333eff;
  border-right: 50px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
}

.sidebar-button {
    background-color: #333eff;
    border-right: 50px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
}

.btn {
  background-color: #333eff;
  color: white;
  padding: .6em;
  display: block;
}

.btn.danger{
  background-color: #FF333F!important;
}

.pr-1{
  padding-right: 1em;
}

.mr-1 {
  margin-right: 1em;
}
.flex-column {
  flex-flow: column;
}



/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FF333F;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .reset {
    padding: 0;
    margin: 0;
  }

  .news {
    flex: 1;
    box-sizing: border-box;
  }

  .events {
    flex: 3;
    box-sizing: border-box;
  }

  small {
    font-weight: 400;
    font-size: .7em;
    color: #666;
  }


  .mb-1 {
    margin-bottom: 1em;
  }


  .p-1 {
    padding: 1rem;
  }

  .bg-white {
    background-color: #fff;
  }

  .m-auto {
    margin: auto auto;
  }

  .content-holder {
    height: calc(100% - (124px + 46px)) ;
  }

  input.styled{
    max-width: 100%;
    min-width: 250px;
    padding: .5em;
  }

  .round-corner {
    border-radius: 20px;
    border: 1px solid #dbdbdb;
  }

  .text-danger {
    color: #FF333F;
  }

  .text-success {
    color: green;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .align-content-center {
    align-items: center;
  }

  .align-content-start {
    align-items: flex-start!important;
  }


  .w-100 {
    width: 100%;
  }


  .ml-auto {
    margin-left: auto;
  }